-- Lock Database
UPDATE public.databasechangeloglock SET LOCKED = TRUE, LOCKEDBY = 'DESKTOP-8KHFRC3 (192.168.56.1)', LOCKGRANTED = NOW() WHERE ID = 1 AND LOCKED = FALSE;

-- *********************************************************************
-- Update Database Script
-- *********************************************************************
-- Change Log: db.changelog-master.yaml
-- Ran at: 2/4/26, 22:11
-- Against: postgres.jhpcifbntjoclvxdfnpr@jdbc:postgresql://aws-0-eu-west-1.pooler.supabase.com:5432/postgres?sslmode=require
-- Liquibase version: [Core: liquibase/liquibase/master/3359/b4edb5/2026-04-01 21:11:57 UTC]
-- *********************************************************************

-- Changeset incremental/incremental/003_crear_tablas_catalogo.yaml::002-crear-tablas-catalogo::ibai
CREATE TABLE public.paradigma (id UUID DEFAULT gen_random_uuid() NOT NULL, nombre VARCHAR(50) NOT NULL, CONSTRAINT paradigma_pkey PRIMARY KEY (id), UNIQUE (nombre));

CREATE TABLE public.tipado (id UUID DEFAULT gen_random_uuid() NOT NULL, nombre VARCHAR(50) NOT NULL, CONSTRAINT tipado_pkey PRIMARY KEY (id), UNIQUE (nombre));

CREATE TABLE public.ejecucion (id UUID DEFAULT gen_random_uuid() NOT NULL, nombre VARCHAR(50) NOT NULL, CONSTRAINT ejecucion_pkey PRIMARY KEY (id), UNIQUE (nombre));

INSERT INTO public.databasechangelog (ID, AUTHOR, FILENAME, DATEEXECUTED, ORDEREXECUTED, MD5SUM, DESCRIPTION, COMMENTS, EXECTYPE, CONTEXTS, LABELS, LIQUIBASE, DEPLOYMENT_ID) VALUES ('002-crear-tablas-catalogo', 'ibai', 'incremental/incremental/003_crear_tablas_catalogo.yaml', NOW(), 4, '9:9f3b4dc96ee622eff009382d8a812323', 'createTable tableName=paradigma; createTable tableName=tipado; createTable tableName=ejecucion', '', 'EXECUTED', NULL, NULL, 'DEV', '5160688549');

-- Changeset incremental/incremental/004_crear_tabla_creador.yaml::003-crear-tabla-creador::ibai
CREATE TABLE public.creador (id UUID DEFAULT gen_random_uuid() NOT NULL, nombre VARCHAR(100) NOT NULL, apellido VARCHAR(100) NOT NULL, CONSTRAINT creador_pkey PRIMARY KEY (id));

INSERT INTO public.databasechangelog (ID, AUTHOR, FILENAME, DATEEXECUTED, ORDEREXECUTED, MD5SUM, DESCRIPTION, COMMENTS, EXECTYPE, CONTEXTS, LABELS, LIQUIBASE, DEPLOYMENT_ID) VALUES ('003-crear-tabla-creador', 'ibai', 'incremental/incremental/004_crear_tabla_creador.yaml', NOW(), 5, '9:824bcea2d9680dafe1cdede11d377ae5', 'createTable tableName=creador', '', 'EXECUTED', NULL, NULL, 'DEV', '5160688549');

-- Changeset incremental/incremental/005_crear_tabla_lenguaje.yaml::004-crear-tabla-lenguaje::ibai
CREATE TABLE public.lenguaje (id UUID DEFAULT gen_random_uuid() NOT NULL, nombre VARCHAR(100) NOT NULL, anio_creacion INTEGER NOT NULL, ejecucion_id UUID NOT NULL, paradigma_id UUID NOT NULL, tipado_id UUID NOT NULL, CONSTRAINT lenguaje_pkey PRIMARY KEY (id), UNIQUE (nombre));

ALTER TABLE public.lenguaje ADD CONSTRAINT fk_lenguaje_ejecucion FOREIGN KEY (ejecucion_id) REFERENCES public.ejecucion (id) ON DELETE RESTRICT;

ALTER TABLE public.lenguaje ADD CONSTRAINT fk_lenguaje_paradigma FOREIGN KEY (paradigma_id) REFERENCES public.paradigma (id) ON DELETE RESTRICT;

ALTER TABLE public.lenguaje ADD CONSTRAINT fk_lenguaje_tipado FOREIGN KEY (tipado_id) REFERENCES public.tipado (id) ON DELETE RESTRICT;

CREATE INDEX idx_lenguaje_ejecucion ON public.lenguaje(ejecucion_id);

CREATE INDEX idx_lenguaje_paradigma ON public.lenguaje(paradigma_id);

CREATE INDEX idx_lenguaje_tipado ON public.lenguaje(tipado_id);


-- Changeset incremental/incremental/006_crear_tabla_intermedia_lenguaje_creador.yaml::005-crear-tabla-lenguaje-creador::ibai
CREATE TABLE public.lenguaje_creador (lenguaje_id UUID NOT NULL, creador_id UUID NOT NULL);

ALTER TABLE public.lenguaje_creador ADD CONSTRAINT pk_lenguaje_creador PRIMARY KEY (lenguaje_id, creador_id);

ALTER TABLE public.lenguaje_creador ADD CONSTRAINT fk_lc_lenguaje FOREIGN KEY (lenguaje_id) REFERENCES public.lenguaje (id) ON DELETE CASCADE;

ALTER TABLE public.lenguaje_creador ADD CONSTRAINT fk_lc_creador FOREIGN KEY (creador_id) REFERENCES public.creador (id) ON DELETE CASCADE;

CREATE INDEX idx_lc_lenguaje ON public.lenguaje_creador(lenguaje_id);

CREATE INDEX idx_lc_creador ON public.lenguaje_creador(creador_id);


-- Changeset incremental/incremental/007_insertar_datos_iniciales.yaml::006-insertar-datos-iniciales::ibai
INSERT INTO public.paradigma (id, nombre) VALUES (gen_random_uuid(), 'Orientado a objetos');

INSERT INTO public.paradigma (id, nombre) VALUES (gen_random_uuid(), 'Funcional');

INSERT INTO public.paradigma (id, nombre) VALUES (gen_random_uuid(), 'Imperativo');



INSERT INTO public.tipado (id, nombre) VALUES (gen_random_uuid(), 'Est├ítico');

INSERT INTO public.tipado (id, nombre) VALUES (gen_random_uuid(), 'Din├ímico');

INSERT INTO public.tipado (id, nombre) VALUES (gen_random_uuid(), 'Fuerte');


INSERT INTO public.ejecucion (id, nombre) VALUES (gen_random_uuid(), 'Compilado');

INSERT INTO public.ejecucion (id, nombre) VALUES (gen_random_uuid(), 'Interpretado');

INSERT INTO public.ejecucion (id, nombre) VALUES (gen_random_uuid(), 'H├¡brido');


-- Release Database Lock
UPDATE public.databasechangeloglock SET LOCKED = FALSE, LOCKEDBY = NULL, LOCKGRANTED = NULL WHERE ID = 1;

